body {
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    border-bottom: 0.15rem solid black;
    background-color: #236ADB;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.lupa {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.sanduiche {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
}

main {
    position: relative;
    flex-direction: column;
    display: flex;
    padding-left: 0rem;
    width: 100%;
    left: 0;
    font-weight: 500;
}

.mensagem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
    padding: 0.2rem;
    font-size: 1.1rem;
    padding-left: 0;
    width: 100%;
    height: 5rem;
}

.perfil_nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.perfil {
    width: 3rem;
    height: 3rem;
}

.notif {
    border: 0.05rem solid black;
    padding: 0.25rem;
    border-radius: 1.2rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    background-color: #95B4E6;
    font-weight: bold;
}

.hidden {
    display: none;
}

.janela {
    display: block; 
}